
/* Generals styles */
.content {
    width: 70%;
    margin: auto;
}

.image {
    position: relative;
    width: 100%;
}

.highlight {
    background-color:#FFFF00;	
}

/*Call outs */
.bs-callout {
    background: #fff;
}
.bs-callout-info strong {
    color:#5BC0DE;
}
.bs-callout-warning strong {
    color:#F0AD4E;
}
.bs-callout-danger strong {
    color:#D9534F;
}
.bs-callout-success strong, .bs-callout-success h4 {
    color:#73C2AF;
}
.bs-callout.bs-callout-success {
    border-left-color: #73C2AF;
}

/* Progress bar*/
.progress-bar 
{
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
}
.progress-bar-success {
    background: #74C2AF;
}
.progress-bar-warning {
    background: #DF985D;
}
.progress-bar-danger {
    background: #C85D5D;
}

/* search bar styles */
#navigation-search {
    float: right;
    margin: 8px 0px 5px 5px;
    cursor: pointer;
}
#findingSentence {
    font-style: italic;
    color:gray;
    float:left;
    margin:8px 5px 5px 0px;
}
#navigation-search {
    display: none;
}
#navigation-search .search-disabled {
    color:gray;
    cursor: default;
}
/* User panel */
.user-panel .character-skills > img{
    height: 30px;
    left: -4px;
    position: absolute;
    top: -6px;
    width: 30px;
}
.user-panel .character-skills
{
    position: relative;
}
/* skin-black 

/* Book styles */
#book-navigation {
    top:0;
    left:240px;
    right:20px;
    position: fixed;
    z-index: 2000;
}
#placenavigation {
    position: relative;
}
.navbar-brand {
    height: 100%;
}
.navbar-brand img{
    height: 30px;
    width: auto;
    margin: 15px;
}
.skills .image {
    text-align: center;
}
/* Book section */
.book .book-section .chapter-header h1{
    background: #77b3d4;
    color: #fff;
    border-top-right-radius: 30px;
}
.book .book-section .chapter-header h1 img{
    margin-left: -35px;
}
.book .book-section .chapter-header img {
    width: 60px;
}
.book .book-section {
    margin-bottom: 50px;
    background: #f0f0f0;
    border-bottom:5px solid #77b3d4;
    border-top-right-radius: 30px;
    text-align: justify;
}
/* section header*/
.book .book-section > article, .book .book-section > section, .book .book-section header p {
    padding: 0px 20px 20px 20px;
}
.book .book-section > article, .book .book-section > section {

}
.book .book-section header p  
{
    font-style: italic;
    font-size: 16px;
    color:#4f5d73;
}

.book .skills article 
{
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 10px;
}
.book .skills article header
{
    cursor: pointer;
}
.book .skills article h1
{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #c75c5c;
}
.book .skills article h2
{
    font-size: 18px;
    font-weight: bold;
    color: #4f5d73;
}
/*Aptitude section */
#aptitudes h4 {
    color:#5BC0DE;
    font-weight: bold;
}
/*skills generalities*/
.skills .image img{
    max-width: 30%;
    margin: auto;
}
.skills a {
    color:#515E73;
}
.skill-description {
    display: none;
}
#common_skills article h1,  .character-skill.common_skill h1 {
    color:#74C2AF;
}
#common_skills article a:hover{
    color:#B3DCD3;
}
#awsome_skills article h1, .character-skill.awsome_skill h1 {
    color:#C85D5D;
}
#awsome_skills article a:hover
{
    color:#D5A5A5;
} 
#special_skills article h1, .character-skill.special_skill h1 {
    color:#DF985D;
}
#special_skills article a:hover {
    color:#DFAE8B;
}

/* character */
/* skills list */
section.skills {
    background: #f5f5f5;
    padding: 10px;
    margin:20px 0px;

}
section.skills header h1{
    padding: 10px;
    margin: 0px;
}
section.skills .character-skill {
    border-radius: 5px;
    height:110px;
    overflow: hidden;
    margin: 5px;
    background: #f1f1f1;
}

section.skills .skill-value  {
    position: relative;
    margin-left:40px;
}
section.skills .character-skill h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 15px;
}
section.skills .skill-value > img {
    height: 50px;
    left: -45px;
    position: absolute;
    top: -13px;
    width: 50px;
}
#aptitudes .character-skill {
    padding:15px;
    height: 55px;
}
#aptitudes .character-skill h1 {
    float:left;
    margin:0px 10px;
    width: 40%;
    font-size: 16px;
}
/* specific style function to skill type */
.character-skill.common_skill  .progress-bar-success,  .character-skill.common_skill  .progress-bar-warning, .character-skill.common_skill  .progress-bar-danger{
    background: #74C2AF;
}
.character-skill.special_skill  .progress-bar-warning, .character-skill.special_skill  .progress-bar-danger, .character-skill.special_skill  .progress-bar-success {
    background: #DF985D;
}

.character-skill.awsome_skill  .progress-bar-success, .character-skill.awsome_skill  .progress-bar-warning, .character-skill.awsome_skill  .progress-bar-danger {
    background: #C85D5D;
}

/* Character */
.character #character-presentation .user-panel  {
    text-align: center;
    width: 50%;
    margin: auto;
}
.character #character-presentation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.character #character-presentation ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 120%;
}
.character #character-presentation  {
    background: #f6f6f6;
}
.character #character-presentation  .user-panel {
    background: #444;
}
.progress-bar label {
    position:absolute;
    right:10px;
    color:#4F5D73;
    cursor: pointer;
}
input.progress-input {
    background: none;
    border: medium none;
    color: #4F5D73;
    float: left;
    cursor: pointer;
    padding: 1px;
    text-align: right;
    box-shadow: none;
    width:30px;
    margin-right: 5px;
}

.profil-informations input {
    font-size: inherit;
    background: none;
    border: none;
    box-shadow: none;
}
.profil-informations input:focus {
    color:#fff;
    background: #74C2AF;
}
#input-job input {
    width: 100%;
    float:right;
}
.total-aptitude {
    font-size: 22px;
    color:#00c0ef;
    font-weight: bold;
}
.danger {
color:#C85D5D;!important
}

/* profil */
.profil-informations img {
    max-width: 200px;
    text-align: right;
}
.remove-character {
position: absolute;
    right: 0;
    top:0;
    z-index: 100;
}
.add-character {
    background: #f4f4f4;
    text-align: center;
    padding : 20px 0px;
    color:#008D4C;
    font-weight: bold;
}
.add-character form {
    display:none;
}
/* Forum */
/* Tables */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1.42857;
    padding: 2px 8px;
    vertical-align: middle;
}
/* table categires */
.categorie-section {
  color: #333333;
  background: none repeat scroll 0 0 #f5f5f5;
  margin-bottom: 70px;
  vertical-align: middle;
}
.categorie-section a {
   color:#DF985D;
}
.categorie-section td.last-messages a {
   color:#EEEEEE;
}
.categorie-section h1
{
  margin: 5px;
  font-size: 30px;
}
.categorie-section h2 a
{
    color:#555;
}
.categorie-section h1, .categorie-section h1 a{
  color:#fff;
}
.categorie-section .cat-title img{
  width:40px;
  height: 40px;
  margin-right: 6px;
}

.categorie-section .start-entry{
  border-top:5px #eee solid;
}
.categorie-section tr th.to-read,
.categorie-section tr td.to-read,  
.categorie-section tr th.last-message,
.categorie-section tr td.last-message{
    width: 30%;
    border: none;
}
.categorie-section tr th.to-read a,
.categorie-section tr td.to-read a{
  color:#717171;
}
.categorie-section tr th.to-read a:hover,
.categorie-section tr td.to-read a:hover{
  color:#444444;
}
.categorie-section tr th.to-read,
.categorie-section tr td.to-read {
  border-left:5px #eee solid;
}
.categorie-section tr td.last-message,
.categorie-section tr td.to-read {
  border-bottom:1px #eee solid;
}
.categorie-section tr td.last-message {
  font-size: 12px;
  line-height: 15px;
}
.categorie-section tr td h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.categorie-section tr:hover {
  background: #f5f5f5;
}
.categorie-section tr td.cat-description {
    width:95%;
    padding-left:20px;
}
.categorie-section tr.new-message .last-message {
    font-weight: bold;
}
.categorie-section tr.new-message a {
    color:#DF985D;
}
.categorie-section tr td.nb-message {
  text-align: center;
}
.categorie-section tr th.date-rp {
  width: 10%;
}
.forum-section tr td.cat-description {
  width:80%;
}
.categorie-section th.cat-title, #other-forums h1 {
  background: #DF985D;
  border: 10px;
  vertical-align: middle;
  padding:5px;
  color:#fff;
  border-bottom:5px #eee solid;
}
.categorie-section th.main-title, .categorie-section #cat-1 th {
  color:#fff;
}
.forum-section {
  margin: 0px 0px;
}
.forum #accordion li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.forum #accordion {
  margin: 20px 0px;
  padding: 0;
} 
#other-forums h1 {
    color:#fff;
    margin: 20px 0px 0px 0px;
}
#other-forums ul {
    background:#EEEEEE;
    margin: 0;
    padding:0;
}
#other-forums ul li{
    background: #f5f5f5;
    line-height: 30px;
    margin-bottom: 3px;
    list-style: none;
    padding:10px 30px;
}
#other-forums ul li{
    font-size: 18px;
    font-weight: bold;
    color:#666;
}
#other-forums ul li a{
   color:#DF985D;
}
#other-forums ul li button {
    border:none;
    box-shadow: none;
}
.subject .pagination .active  a  {
background: #DF985D;
border-color: #CC8754;
}


/* Messages */
.post {
  clear:both;
  background : none repeat scroll 0 0 #f5f5f5
}
.post aside {
  width: 230px;
  float:left;
  margin-right: 30px;
  text-align: center;
  height: 100%;
  background: #eee;
  margin-bottom: 30px;
  border-bottom-right-radius: 30px;
}
.post aside h2 a {
  color:#DF985D;
  text-align: center;
  font-size: 25px;
}
.post header {
  padding: 15px;
  background: #DF985D;
  color: #fff;
  text-align: right;
  border-bottom:5px #eee solid;
  font-weight: bold;
}
.post .post-message {
  margin: 10px 10px 0px 10px;
  text-align: justify;
  line-height: 1.5;
  padding:20px;
  min-height: 400px;
}
.subject .btn {
  margin:5px 0px;
}
.subtitle {
  color:#444;
  font-style: italic;
  font-size: 18px;
  width: 50%;
}
.date-rp {
    font-size: 18px;
      color:#444;
      font-weight: bold;
}

.peoples .user-panel {
  padding: 1%;
  background: #444;
  color: #fff;
  text-align: center;
  border-bottom:5px #DF985D solid;
  margin: 2% 2%;
  overflow: hidden;
}
.peoples .user-panel:hover {
  background: #333333;
}
.peoples .user-panel:hover img {
  opacity: 0.95;
}
.peoples .user-panel h2 a{
  color: #DF985D;
  size:110%;
}
.peoples .user-panel h2 {
  color: #fff;
  font-size:170%;
}
.peoples .user-panel img {
  border-color: #DF985D;
}


.character #character-presentation .user-panel  {
  text-align: center;
  width: 50%;
  margin: auto;
}
.character #character-presentation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.character #character-presentation ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 120%;
}
.character #character-presentation  {
  background: #f6f6f6;
}
.character #character-presentation  .user-panel {
  background: #444;
}

@media(max-width:767px){
.content {
    width: 100%;
    margin: auto;
}
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}