
/* Generals styles */

.image {
  position: relative;
  width: 100%;
}

.highlight {
	background-color:#FFFF00;	
}
#navigation-search {
	float: right;
	margin: 8px 0px 5px 5px;
	cursor: pointer;
}
#findingSentence {
	font-style: italic;
	color:gray;
	float:left;
	margin:8px 5px 5px 0px;
}
#navigation-search {
	display: none;
}
#navigation-search .search-disabled {
	color:gray;
	cursor: default;
}
/* Book styles */
#book-navigation {
	top:0;
	left:240px;
	right:20px;
	position: fixed;
	z-index: 2000;
}
#placenavigation {
	position: relative;
}
.navbar-brand {
	height: 100%;
}
.navbar-brand img{
	height: 30px;
	width: auto;
	margin: 15px;
}
.skills .image {
	text-align: center;
}

.book .book-section .chapter-header h1{
	background: #77b3d4;
	color: #fff;
	border-top-right-radius: 30px;
}
.book .book-section .chapter-header h1 img{
	margin-left: -35px;
}
.book .book-section .chapter-header img {
	width: 60px;
}
.book .book-section {
	margin-bottom: 50px;
	background: #f0f0f0;
	border-bottom:5px solid #77b3d4;
	border-top-right-radius: 30px;
	text-align: justify;
}
/* section header*/
.book .book-section > article, .book .book-section > section, .book .book-section header p {
	padding: 0px 20px 20px 20px;
}
.book .book-section > article, .book .book-section > section {

}
.book .book-section header p  
{
	font-style: italic;
	font-size: 16px;
	color:#4f5d73;
}

.book .skills article 
{
	padding: 10px;
	background: #f4f4f4;
	margin-bottom: 10px;
}
.book .skills article header
{
	cursor: pointer;
}
.book .skills article h1
{
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	color: #c75c5c;
}
.book .skills article h2
{
	font-size: 18px;
	font-weight: bold;
	color: #4f5d73;
}
.skills .image img{
	max-width: 30%;
	margin: auto;
}
.skills a {
	color:#515E73;
}
.skill-description {
	display: none;
}
#common_skills article h1 {
	color:#74C2AF;
}
 #common_skills article a:hover{
	color:#B3DCD3;
}
#awsome_skills article h1 {
	color:#C85D5D;
}
#awsome_skills article a:hover
{
	color:#D5A5A5;
} 
#special_skills article h1 {
	color:#DF985D;
}
#special_skills article a:hover {
	color:#DFAE8B;
}